<mat-card class="card">

    <div class="container" >
        <mat-card class="item">
        <img src="../../assets/naylamotors.webp" mat-card-md-image alt="">
        <mat-card-content>
        <mat-card-subtitle>
        &copy;{{Currentyr}} {{Companyname}} All Rights Reserved
        </mat-card-subtitle>
        </mat-card-content>
<div class="socials">
    <img src="../../assets/instagram.png" style="height: 20px;width: 20px;"   alt="">
<img src="../../assets/twitter.png" style="height: 20px;width: 20px;"   alt="">

</div>
        </mat-card>
        
        
        <mat-card class="item">
        <mat-card-header>Company</mat-card-header>
            <mat-card-content>
             <mat-card-subtitle>About</mat-card-subtitle>
             <mat-card-subtitle>Sell Car</mat-card-subtitle>
             
            </mat-card-content>
            </mat-card>
        
            <mat-card class="item">
                <mat-card-header>Location</mat-card-header>
                    <mat-card-content>
                     <p>PJ Motors</p>
                     <p>Southern Bypass</p>
                    <a href="tel:0759857032" style="text-decoration: none;">Phone Number</a>
                    </mat-card-content>
                    </mat-card>
                   
        </div>
        
        
        
</mat-card>