
<div class="container" >
<mat-card class="item">
<img src="https://res.cloudinary.com/dasrniwpk/image/upload/v1717157566/WhatsApp_Image_2024-05-31_at_2.59.52_PM_g5l1z8.jpg" alt="">
<mat-card-content>
<mat-card-subtitle>
&copy;{{Currentyr}} {{Companyname}} All Rights Reserved
</mat-card-subtitle>
</mat-card-content>
</mat-card>


<mat-card class="item">
<mat-card-header>Company</mat-card-header>
    <mat-card-content>
     <mat-card-subtitle>About</mat-card-subtitle>
     <mat-card-subtitle>Sell Car</mat-card-subtitle>
     
    </mat-card-content>
    </mat-card>

    <mat-card class="item">
        <mat-card-header>Location</mat-card-header>
            <mat-card-content>
             <p>PJ Motors</p>
             <p>Southern Bypass</p>
            <a href="tel:0759857032" style="text-decoration: none;">Phone Number</a>
            </mat-card-content>
            </mat-card>
           
</div>


