<mat-card>
<header></header>
<div class="card" *ngIf="!Savedsale">
    <p-stepper orientation="vertical">
        <p-stepperPanel header="Basic Car Details">
            <ng-template pTemplate="content"  let-nextCallback="nextCallback" let-prevCallback ="prevCallback" let-index="index">
                <div class="flex flex-column h-12rem">
                    
                       <mat-card>
                        <p>
                        <mat-form-field>
                        <mat-label>Reg Number</mat-label>
                        <input matInput [(ngModel)]="carPlate" type="text" required placeholder="Registration Number" />
                                
                        </mat-form-field>
                        </p>
                      <p>
                        <mat-form-field>
                            <mat-label>Model</mat-label>
                         <input matInput type="text" style="width: 100%;" required placeholder="Model" [(ngModel)]='model'>

                        </mat-form-field>
                      </p>

                        <p>
                        <mat-form-field class="example-full-width">
                        <mat-label>Make</mat-label>
                        <input matInput type="text" required placeholder="Make" [(ngModel)]='make'>
                        </mat-form-field>
                        </p>
      
                        <p>
                            <mat-form-field class="example-full-width">
                            <mat-label>Color</mat-label>
                            <input matInput type="text" required placeholder="Color" [(ngModel)]='color'>
                            </mat-form-field>
                            </p>


                            <mat-form-field class="example-full-width">
                                <mat-label>Mileage</mat-label>
                                <input matInput type="number" required placeholder="mileage" [(ngModel)]="mileage">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Choose Mileage Unit</mat-label>
                                    <select matNativeControl required [(ngModel)]='mileageUnit'>
                                        <option value="KM">KM</option>
                                        <option value="Miles">Miles</option>
                                    </select>
                                    
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Has Accident History</mat-label>
                                        <select matNativeControl required [(ngModel)]='AccidentHistory'>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                        
                                        </mat-form-field>

                                        <mat-form-field class="example-full-width">
                                            <mat-label>Asking Price</mat-label>
                                            <input matInput type="number" required placeholder="asking Price" [(ngModel)]='Price'>
                                            </mat-form-field>
    
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Location</mat-label>
                                                <input matInput type="text" required placeholder="location" [(ngModel)]="Location">
                                                </mat-form-field>
        

                       </mat-card>
                    </div>
               
                <div class="flex py-4">
                    
                    <p-button label="Next" (onClick)="nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Personal Contact Info">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column h-12rem">
                    
                       <mat-card>
                        <p>
                        <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" required placeholder="First name" [(ngModel)]='First_name'>
    
                        </mat-form-field>
                        </p>
                      <p>
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                         <input matInput type="text" style="width: 100%;" required placeholder="Last name" [(ngModel)]='Last_name'>

                        </mat-form-field>
                      </p>

                        <p>
                        <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" required placeholder="Email" [(ngModel)]='Email' >
                        </mat-form-field>
                        </p>
      
                        <p>
                            <mat-form-field class="example-full-width">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="text" required placeholder="phone number" [(ngModel)]='Phonenumber'>
                            </mat-form-field>
                            </p>


                            <mat-form-field class="example-full-width">
                                <mat-label>ID Number</mat-label>
                                <input matInput type="number" required placeholder="id number" [(ngModel)]='idnumber'>
                                </mat-form-field>
<mat-card>
    <mat-card-title>Preferred Contact Method</mat-card-title>
  <mat-checkbox value="Email" (change)="resultCheck($event)">Email</mat-checkbox>  
  <mat-checkbox value="Phone Call" (change)="resultCheck($event)">Call</mat-checkbox>  
  <mat-checkbox value="Whatsapp" (change)="resultCheck($event)">Whatsapp</mat-checkbox>  
</mat-card>

        

                       </mat-card>
                    </div>
               
                <div class="flex py-4">
                    <p-button label="Back" (onClick)="prevCallback.emit()" />
                    <p-button label="Next" (onClick)="nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
     


<p-stepperPanel header="Images">
    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
        
        <div class="card flex justify-content-center">
  
            <p-fileUpload 
                mode="advanced" 
                chooseLabel="Upload ID Front" 
                chooseIcon="pi pi-upload"     
                name="demo[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                accept="image/*" 
                maxFileSize="1000000" 
                (onSelect)="HandleUploadfrontid($event)"
                 />
        </div>

        <div class="card flex justify-content-center">  
  
            <p-fileUpload 
                mode="advanced" 
                chooseLabel="Upload ID Back" 
                chooseIcon="pi pi-upload"     
                name="demo[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                accept="image/*" 
                maxFileSize="1000000" 
                (onSelect)="HandleUploadbackid($event)"
                 />
        </div>
    

        <div class="card flex justify-content-center">
  
            <p-fileUpload 
                mode="advanced" 
                chooseLabel="Car Image One" 
                chooseIcon="pi pi-upload"     
                name="demo[]" 
                 
                accept="image/*" 
                maxFileSize="1000000000000" 
                (onSelect)="HandleUpload($event)"
                 />
        </div>   



        
        <div class="card flex justify-content-center">
  
            <p-fileUpload 
                mode="advanced" 
                chooseLabel="Car Image Two" 
                chooseIcon="pi pi-upload"     
                name="demo[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                accept="image/*" 
                maxFileSize="1000000000000" 
                (onSelect)="HandleUploadCartwo($event)"
                 />
        </div>
        
       

        
        <div class="card flex justify-content-center">
  
            <p-fileUpload 
                mode="advanced" 
                chooseLabel="Car Image Three" 
                chooseIcon="pi pi-upload"     
                name="demo[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                accept="image/*" 
                maxFileSize="1000000000000" 
                (onSelect)="HandleUploadCarthree($event)"
                 />
        </div>
        <div class="flex py-4">
            <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
            <p-button label="Complete"(onClick)="Handleactualsale()" />
        </div>
    </ng-template>

</p-stepperPanel>  


    </p-stepper>
</div>


<div class="card" *ngIf="Savedsale">
<p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
  </div>

<mat-card *ngIf="Errormsg">
<p-messages
[value]="Msgs"
[closable]="true"
/>

</mat-card>



<footer></footer>
</mat-card>