mat-form-field{
width: 50%;
text-align: center;
}
.example-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
mat-form-field input{
width: 70%;
}
.main{
text-align: center;
}
.btn-container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
text-align: center;
}
.btn-container button{
margin-left: 20px;
}
.prices max-min mat-form-field input{
padding-left: 20px;
}

@media(max-width:800px){
mat-form-field input{
width: 100%;
}
.btn-container button{
    margin-left: 5px;
    }
    .prices max-min mat-form-field input{
    padding-left: 5px;
    }
    
}