<mat-card class="main">
<form class="example-form">
<mat-form-field>
<mat-label>Search Car</mat-label>
<input  required matInput  placeholder="Search Desired Car" type="text" [(ngModel)] = "choosenCar" />
</mat-form-field>

<button mat-flat-button color="primary" (click)="filterBysearch()">Find</button>
</form>
<mat-card-title>Filter By Budget</mat-card-title>
<div class="btn-container">
<button  mat-stroked-button (click)="filterby500K()">
0-500K
</button>
<button  mat-stroked-button (click)="filterby1milli()">
500K-1M
</button>
<button mat-stroked-button (click)="filterby5M()">
1M-5M
</button>
<button  mat-stroked-button (click)="filterby10M()">
5M-Above 10M
</button>

</div>

<mat-card-title>Advanced Car Search</mat-card-title>
<div>
<mat-form-field>
<mat-label>Choose a Car</mat-label>
<select matNativeControl required [(ngModel)] = "choosenCar" >
<option *ngFor="let car of Vehichlebrands" >{{car}}</option>
</select>
    </mat-form-field>
</div>


<div class="prices max-min">
    <mat-card-title>Price And Currency</mat-card-title>
    <mat-form-field>
        <mat-label>Enter Minimum Price</mat-label>
        <input matInput [(ngModel)] = "Minimumprice"  placeholder="Enter Your Minimum Price" type="number" />
         
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Maximum Price</mat-label>
            <input matInput [(ngModel)] = "Maxprice"  placeholder="Enter Your Maximum Price" type="number" />
            
            </mat-form-field>

</div>

<div class="prices max-min">
   
    <mat-form-field>
        <mat-label>Choose Currency</mat-label>
        <select matNativeControl required [(ngModel)] = "currency">
         <option *ngFor="let currency of Currencies">
         {{currency}}
         </option>

        </select>
            </mat-form-field>

</div>

<button mat-flat-button color="primary" (click)="testSearch()">
Search
</button>
</mat-card>