<mat-card>
 
<header></header>
<div class="card flex justify-content-center">
  <p-breadcrumb 
      class="max-w-full" 
      [model]="items" 
      [home]="home" />
</div>
<div class="container">
<div class="item">
<img src={{carData.thumbnail}} alt="">
<mat-card-subtitle>
Total Landing Costs {{formatPrice(carData.price)}} All taxes included

</mat-card-subtitle>
</div>

<div class="item">
<mat-card-title>{{carData.name}}</mat-card-title>
<mat-card-subtitle>{{carData.description}}</mat-card-subtitle>
<button matTooltip="See More car Descriptions"  mat-raised-button (click)="sidebarVisible =true" style="background-color: rgb(59,130,246);">Car Specification</button>
<button matTooltip="See More Safety Specs"  mat-raised-button (click)="sidebarSafety =true" style="background-color: rgb(59,130,246); margin-left: 20px;">Car Safety</button>
</div>



<div class="card">
  <p-galleria 
       [value]="images"
      [showIndicators]="true" 
      [autoPlay]="true"
      [circular]="true"
      [showThumbnails]="false" 
      [responsiveOptions]="responsiveOptions" 
      [containerStyle]="{ 'max-width': '640px' }">
          <ng-template pTemplate="item" let-item>
              <img [src]="item.image" style="width: 100%; display: block;" />
          </ng-template>
  </p-galleria>
</div>

</div>

<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Year of Manufacture</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.year_of_manufacture}}</mat-card-subtitle>

  </mat-card>   
<mat-divider></mat-divider>
 

<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Location</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.current_location}}</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>


<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Availabilty</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.availability}}</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>


<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Estimated Arrival Days</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.estimated_arrival_days}}</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>

<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Drive</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.drive}}</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>


<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Mileage</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.mileage}} KM</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>


<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Engine size</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.engine_specifications.engine_size}} CC</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>


<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Fuel Type</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.engine_specifications.fuel_type}}</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>


<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Horse Power</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.engine_specifications.horse_power}} Hp</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>

<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Transmission</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.engine_specifications.transmission}} Hp</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>


<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Torque</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.engine_specifications.torque}}Nm</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>

<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Aspiration</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.engine_specifications.aspiration}}</mat-card-subtitle>

  </mat-card>
<mat-divider></mat-divider>

<mat-card style="display: flex; flex-direction: row;">
  <mat-card-subtitle style="color: black;">Acceleration (0 - 100) kph</mat-card-subtitle>
<p-divider layout="vertical"></p-divider>
  <mat-card-subtitle>{{carData.engine_specifications.acceleration}}seconds</mat-card-subtitle>

  </mat-card>

  <p-scrollTop/>
<mat-divider></mat-divider>



</mat-card>



<div  class="card flex justify-content-center" >
    <p-sidebar [(visible)]="sidebarVisible" position="right" [fullScreen]="true">
       <mat-card-title>Common Features</mat-card-title>
      <div class="specs">
       <mat-card>
        <mat-card-subtitle *ngFor="let carf of interiorFeatures" style="padding-top: 20px;">
          {{carf}}
          <mat-divider></mat-divider>
         </mat-card-subtitle>
        </mat-card>
        <mat-card>
          <mat-card-subtitle *ngFor="let carf of interiorResults" style="padding-top: 20px;">
            <mat-icon style="color: red;" *ngIf="carf == false">
              close
            </mat-icon>
            <mat-icon *ngIf="carf == true" style="color: green;">
              check
            </mat-icon>
            
             <p *ngIf="carf != true && carf != false">{{carf}}</p>
            
            <mat-divider></mat-divider>
           </mat-card-subtitle>
          </mat-card>
      
      
      </div>
      
    </p-sidebar>
    
</div>

<div  class="card flex justify-content-center" >
  <p-sidebar [(visible)]="sidebarSafety" position="right" [fullScreen]="true">
    <mat-card-title>Safety Features</mat-card-title>
   <div class="specs">
    <mat-card>
     <mat-card-subtitle *ngFor="let carf of safetyFeatures" style="padding-top: 20px;">
       {{carf}}
       <mat-divider></mat-divider>
      </mat-card-subtitle>
     </mat-card>
     <mat-card>
       <mat-card-subtitle *ngFor="let carf of safetyResults" style="padding-top: 20px;">
         <mat-icon style="color: red;" *ngIf="carf == false">
           close
         </mat-icon>
         <mat-icon *ngIf="carf == true" style="color: green;">
           check
         </mat-icon>
         
          <p *ngIf="carf != true && carf != false">{{carf}}</p>
         
         <mat-divider></mat-divider>
        </mat-card-subtitle>
       </mat-card>
   
   
   </div>  
   
 </p-sidebar>

  <i class="pi pi-phone" matTooltip="Call Us"(click)="callUs()"></i>
 
 <i class="pi pi-whatsapp" style="margin-left: 20px; color: forestgreen;" (click)="whatsups()" matTooltip="Whatsapp us"></i>
</div>

<footer></footer>

