<mat-card>
<header></header>
<div class="card">
<p-messages [(value)]="info"  />
</div>


<div style="text-align: center;">
<mat-card-title>
        The Easiest and Safest Way To Sell And Buy Cars in Kenya And around the world
        </mat-card-title>
        <div class="container-button">
        <button  mat-flat-button color="primary">Cars In Kenya</button>
        <button  mat-flat-button color="primary">International Stock</button>
        <button  mat-flat-button color="primary">Sell Your Car</button>
        </div>

        <mat-card-title>
        Find Which Car Fits You Most.
        </mat-card-title>
        <mat-card-subtitle>
        We Help You Find The Car Which Fits Your Personality 
        </mat-card-subtitle>
<allcars></allcars>
        <mat-card class="container">
      <mat-card style="width: 100%;">
        <mat-card-title style="padding-right: 20px;cursor: pointer;">Search By Name</mat-card-title>
        <filterbysearch></filterbysearch>
      </mat-card>
       <mat-card style="width: 100%;">
        <mat-card-title style="cursor: pointer; padding-right: 20px;">Filter by Brand</mat-card-title>
        <filterbybrand></filterbybrand>
       </mat-card>
        </mat-card>
        


    
</div>
<footer></footer>
</mat-card>