<p-toast/>

<div class="menu">
<div>
<side-bar></side-bar>
</div>

<div *ngIf="fetched" class="cars-display">
<mat-card *ngFor="let cardata of data" >
<div class="orient-hor">
<img [defaultImage]="defaultImage" lazyLoad={{cardata.thumbnail}} alt=""  (click)="navigateTospecificcar(cardata.slug)">
<mat-card-title>{{cardata.name}} {{cardata.year_of_manufacture}}</mat-card-title>

<mat-card-subtitle>
{{cardata.description}}
</mat-card-subtitle>
<mat-card-subtitle>
KSH:{{formatPrice(cardata.price)}}
</mat-card-subtitle>

<button mat-raised-button class="btn-grad">
Add Car to wishlist
</button>
</div>
</mat-card>
</div>

<div class="card" *ngIf="!fetched">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
</div>
</div>




  