<p-toast/>

<div class="menu">
<div class="menu-side">
<side-bar></side-bar>  
</div>

<div *ngIf="fetched" class="cars-display">
<mat-card *ngFor="let cardata of data" >
<div class="orient-hor">
<img [defaultImage]="defaultImage" lazyLoad={{cardata.thumbnail}} alt=""  (click)="navigateTospecificcar(cardata.slug)">
<mat-card-title>{{cardata.name}} {{cardata.year_of_manufacture}}</mat-card-title>

<mat-card-subtitle>
{{cardata.description}}
</mat-card-subtitle>
<b>
KSH:{{formatPrice(cardata.price)}}
</b>


<button  class="button-1" role="button">Add to Wishlist</button>


</div>
</mat-card>
</div>

<div class="card" *ngIf="!fetched">
<p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
</div>
</div>




  