<header-laptops></header-laptops>

<div class="menu">
  <div class="menu-side">
    <side-bar></side-bar>
    </div>
  <mat-card>
  <div class="card flex justify-content-center" *ngIf="Resultsnotfound">
    <p-messages
    [(value)]="msg"
    [closable]="true"
    />
  </div>


  <mat-paginator [length]="length" [pageSize]="pagesize" (page)="changePage($event)">
  </mat-paginator>
  <div *ngIf="fetched" class="results-filter">
  <mat-card *ngFor="let cardata of paginatedData" >
  <div class="orient-hor">
  <img [defaultImage]="defaultImage" lazyLoad={{cardata.thumbnail}} alt=""  (click)="navigateTospecificcar(cardata.slug)">
        <mat-card-title>{{cardata.name}} {{cardata.year_of_manufacture}}</mat-card-title>
        
         
        <mat-card-subtitle>
                {{cardata.description}}
            </mat-card-subtitle>
          
        
            <mat-card-subtitle>
                KSH:{{formatPrice(cardata.price)}}
             </mat-card-subtitle>
             <button mat-raised-button class="btn-grad">
              Add Car to wishlist
              </button>
  <p-scrollTop/>
</div>
</mat-card>
  
  
  </div>
  
  
  
  <div class="card" *ngIf="!fetched">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
  </div>
  
</mat-card>   
</div> 
