<mat-card>
<mat-card-content>
<mat-list>
<mat-list-item (click)="goHome()">
<img src="../../../assets/naylamotors.webp" mat-card-lg-image alt="" >
</mat-list-item>
<mat-list-item style="height:max-content;">
  <!-- I will work on this project -->
  

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
   <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
     <p>
      {{node.Tree_Name}}
     
     </p>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.Tree_Name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.Tree_Name}}
    </mat-tree-node>
  </mat-tree>
</mat-list-item>
<mat-list-item>Sell</mat-list-item>
<mat-list-item>About</mat-list-item>
<mat-list-item>Contact us</mat-list-item>
<mat-list-item (click)="goWish()">
Wish list ({{carsWishList}})
</mat-list-item>
<mat-list-item>
<mat-icon>nightlight</mat-icon>
</mat-list-item>
</mat-list>
</mat-card-content>


</mat-card>
<div class="actions">
<img src="../../../assets/naylamotors.webp" mat-card-sm-image alt="">
<div>
<mat-icon (click)="toggler()">menu</mat-icon>
<mat-icon>dark_mode</mat-icon>
</div>
</div>
<p-sidebar [(visible)]="toggleSideNav">
<ul>
<li style="height:max-content;">
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
       <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
         <p>
          {{node.Tree_Name}}
         
         </p>
        </mat-tree-node>
    
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.Tree_Name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.Tree_Name}}
        </mat-tree-node>
      </mat-tree>
    </li>
    <mat-divider></mat-divider>
    <li>Sell Your Car</li>
    <mat-divider></mat-divider>
    <li>About</li>
    <mat-divider></mat-divider>
    <li>Contact us</li>
    <mat-divider></mat-divider>
    <li (click)="goWish()">
    Wish list ({{carsWishList}})
    </li>
  
    </ul>


</p-sidebar>

