<mat-card>
<mat-card-content>
<mat-list>
<mat-list-item>
<img src="../../../assets/naylamotors.webp" mat-card-md-image alt="">
</mat-list-item>
<mat-list-item style="height:max-content;">

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
   <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
     <p>
      {{node.Tree_Name}}
     
     </p>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.Tree_Name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.Tree_Name}}
    </mat-tree-node>
  </mat-tree>
</mat-list-item>
<mat-list-item>Sell</mat-list-item>
<mat-list-item>About</mat-list-item>
<mat-list-item>Contact us</mat-list-item>
<mat-list-item>
Wish list (0)
</mat-list-item>
<mat-list-item>
<mat-icon>nightlight</mat-icon>
</mat-list-item>
</mat-list>



</mat-card-content>


</mat-card>