<mat-card>
  <mat-card-header>
    <mat-form-field appearance="outline" class="outline-field">
      <mat-icon matIconSuffix>search</mat-icon>
      <mat-label>Search for any car</mat-label>
      <input type="text" matInput [(ngModel)]="carSlugSearch" (keyup)="fetchingCars()" />
      <mat-hint>Example Mazda CX 5</mat-hint>
    </mat-form-field>

  </mat-card-header>
  <div class="card" *ngIf="filtering && ! fetched">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
    </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="filtering && fetched">
    <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef>Car Image</th>
    <td mat-cell *matCellDef="let element" (click)="navigateTospecificcar(element.slug)" > <img defaultImage="../../../assets/naylamotors.webp" lazyLoad={{element.thumbnail}} style="width: 100px;height: 100px;" alt=""> </td>
  </ng-container>
<ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Car Name</th>
      <td mat-cell *matCellDef="let element" (click)="navigateTospecificcar(element.slug)" > {{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Car Price</th>
        <td mat-cell *matCellDef="let element"> {{formatPrice(element.price)}}</td>
      </ng-container>

 <tr mat-header-row *matHeaderRowDef="rowsDisplayInfo"></tr>
  <tr mat-row *matRowDef="let row; columns:rowsDisplayInfo;"></tr>

 
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter </td>
  </tr>  
</table>
  <mat-card-content *ngIf="!filtering">
    <button  class="button-1"  (click)="filterbyPrice(0,500000)" >0-500K</button>
    <button  class="button-1"   (click)="filterbyPrice(500000,1000000)">500K-1M</button>
    <button class="button-1"   (click)="filterbyPrice(1000000,2000000)">1M-2M</button>
    <button  class="button-1"   (click)="filterbyPrice(2000000,3000000)">2M-3M</button>
    <button  class="button-1"  (click)="filterbyPrice(3000000,5000000)">3M-5M</button>
    <button  class="button-1"   (click)="filterbyPrice(5000000,10000000)">5M-10M</button>
    <button  class="button-1"   (click)="filterbyPrice(10000000,1000000000)">Above 10M</button>
  
  </mat-card-content>
  <mat-card-actions *ngIf="!filtering">
    <mat-accordion >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Car brands</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
        
          <mat-list *ngFor="let brand of Brands">
            <mat-divider></mat-divider>
            <mat-list-item>
              {{brand.Brandname}} <mat-checkbox (change)="fetchcardBrand(brand.Brandname)"></mat-checkbox> <img src={{brand.Brandimage}}   alt="">
            </mat-list-item>

          </mat-list>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
    
  </mat-card-actions>
  <mat-divider></mat-divider>
  <mat-card-actions *ngIf="!filtering">
    <mat-accordion >
      <mat-expansion-panel expanded="true">  
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced Filter <mat-icon>filter_alt</mat-icon>
        </mat-panel-title>
        </mat-expansion-panel-header>
      <mat-card-footer>
      <form action="">
        <mat-form-field appearance="outline">
          <mat-label>Search For any Car</mat-label>
          <input type="text" matInput [matAutocomplete]="auto" [formControl]="myFormControl">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="choosenCar($event)">
          <mat-option *ngFor="let car of filteredCar | async" [value]="car.Brandname">
           {{car.Brandname}}
          </mat-option>
          </mat-autocomplete>
          
          </mat-form-field>
      </form>
      </mat-card-footer>
      
<mat-card-footer>
<form>
<mat-form-field>
<mat-select [(value)]="default">
<mat-option value="Kenyan Used">Kenyan Used</mat-option>
<mat-option value="Foreign Used">Foreign Used</mat-option>
</mat-select>

</mat-form-field>

</form>

</mat-card-footer>





        <mat-card-footer>
          <strong>Year of Manufacture</strong>
          <form>
            <mat-form-field appearance="outline">
              <mat-label>Min YOM</mat-label>
              <input type="number" matInput name="min" [(ngModel)]="startYr" />
              <mat-hint>Example 2000</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Max YOM</mat-label>
              <input type="number" matInput name="max"  [(ngModel)]="endYr"/>
              <mat-hint>Example 2030</mat-hint>
            </mat-form-field>
             </form>
       </mat-card-footer>
       <mat-divider></mat-divider>
        <mat-card-footer *ngIf="!filtering">
          <strong>Price and Currency</strong>
          <form>
            <mat-form-field appearance="outline">
              <mat-label>Min Price</mat-label>
              <input type="number" matInput name="min" [(ngModel)]="lowEnd"/>
              <mat-hint>Example 500,000</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Max Price</mat-label>
              <input type="number" matInput name="max" [(ngModel)]="highEnd" />
              <mat-hint>Example 5,000,000</mat-hint>
            </mat-form-field>
          </form>
       </mat-card-footer>
        <mat-divider></mat-divider>
        <mat-card-footer *ngIf="!filtering">
          <strong>Filter By mileage</strong>
          <form>
            <mat-form-field appearance="outline">
              <mat-label>Minimum Mileage</mat-label>
              <mat-card-subtitle matSuffix>KM</mat-card-subtitle>
              <input type="number" matInput name="min" maxlength="6" [(ngModel)]="startMileage"/>
              <mat-hint>Example 50000 KM</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Maximum Mileage</mat-label>
              <mat-card-subtitle matSuffix>KM</mat-card-subtitle>
              <input type="number" matInput name="max" maxlength="6" [(ngModel)]="endMileage" />
              <mat-hint>Example 200,000KM</mat-hint>
            </mat-form-field>
          </form>
      </mat-card-footer>
      <button  class="button-1"   (click)="navigateFilter()" >Filter</button>
      </mat-expansion-panel>
      
        </mat-accordion>
  </mat-card-actions>
</mat-card>
