*{
margin: 0;
padding: 0;
}
.container{
display: flex;
align-items: center;
justify-content: center;
flex-direction:row;
flex-wrap: wrap;
width: 100%;

}
.item{

width: 200px;
height: 200px;
margin-left: 20px;
margin-top: 20px;
}
.item img{
width: 100%;
height: 100%;
}
mat-form-field{
width: 50%;
text-align: center;
}
@media(max-width:899px){
.item{
width: 100px;
height:fit-content;
margin-left: 3px;
margin-top: 5px;
}
}
   